# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/

# Credenciais e configuração local
.env

# Dados locais pesados — NUNCA commitar no repositório
data/raw/*.zip
data/raw/*.csv
data/processed/*.parquet
*.sqlite

# MLflow
mlflow.db
mlartifacts/

# IDEs
.vscode/
.idea/
